<section data-ng-controller="WeightindexController">
    <div class="row topRow">
       <h3>My Stats</h3>
        <div class="col-md-4">
            <table class="table table-striped progressTable">
               <thead>
                   <tr>
                       <td>Week</td>
                       <td>Weight</td>
                       <td>Progress</td>
                   </tr>
               </thead>
                <tbody>
                    <tr ng-repeat="stat in myStats | limitTo: weekNum">
                        <td>{{$index+1}}</td>
                        <td>{{stat.weight}}</td>
                        <td>{{stat.progress}}%</td>
                    </tr>
                </tbody>
            </table>            
        </div>        
        <div class="col-md-8" id="weightEnter" ng-hide="weekCheck">
            <span>Enter Weight for Week {{weekNum}}</span><br/>
            <input type="number" id="weightInput" name="weightInput" data-ng-model="weightInput"><br/>        
            <button class="btn btn-large btn-primary" ng-click="addWeight()">Submit</button><br/>
            <span class="error" ng-hide="inputError">I don't think that's possible</span>
        </div>            
        <div class="col-md-8" id="weightEnter" ng-show="weekCheck">
            <span>Come back in a week to enter your weight</span>
        </div>            
    </div>
    <div class="row">
        <div class="col-md-12">            
            <center>
                <h4>
                    {{msg1}}<br/>
                    {{msg2}}<br/><br/>
                    {{msg3}}
                    
                </h4>
            </center>
        </div>
    </div>    
    
    <div class="row topRow">
        <h3>Standings</h3>       
        <div class="col-md-4">            
            <table class="table table-striped">
               <thead>
                   <tr>
                       <td>Place</td>
                       <td>Name</td>                       
                       <td>Progress</td>
                       <td>Points</td>
                   </tr>
               </thead>
                <tbody>
                    <tr ng-repeat="user in userStats | orderBy:user.rank">
                        <td>{{user.rank}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.progress}}%</td>
                        <td>{{user.points}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-8">
        <nvd3-line-chart data="graphData"  id='multiline' showXAxis="true" showYAxis="true" showLegend='true' xAxisLabel='Week' yAxisLabel='% to goal' useInteractiveGuideLine="true" objectEquality="true" tooltips="true">
            <svg style='width:100%; height:20em; display:block;'></svg>
        </nvd3-line-chart>           
        </div>
    </div>   
    <div class="row">
        <div class="col-md-6">
            <img src="http://www.vitamin-ha.com/wp-content/uploads/2013/01/family-guy-motivation-personal-trainer-W630.jpg"  class="img-responsive" alt="Responsive image">
        </div>
        <div class="col-md-6">
            <img src="/modules/participants/img/Keep-going-dont-give-up.jpg"  class="img-responsive" alt="Responsive image">
        </div>
    </div>
</section>