<!--<section data-ng-controller="RulesController">-->
<section>
<h2><center>
    Welcome to the 2015 Biggest Loser: Hong Edition! 
</center></h2>
<h4><center>
    The goal of this challenge is to motivate ourselves to lose weight before Svensica’s wedding in an accountable, healthy and fun way.    
</center></h4>
<br/><br/>

<h4>Rules:</h4>
<h4>16 week weight loss* challenge w/ $40 buy-in:</h4>
<ol>
    <li>Challenge goes from Feb 16 (Mon) thru June 7 (Sun)
        <ol>
            <li>Points are awarded for hitting your final weight loss goal, and for achieving linear weight loss along the way (don’t drop all the weight in the last week or two!!)</li>
            <li>Total pot at the end of challenge will be divided proportionally by the number of points accrued by each participant</li>
            <li>*Only Daniel may participate with a weight gain goal!</li>
        </ol>
    </li>
    <li>Starting steps:
        <ol>
            <li>Weigh yourself the week of Feb 9-15 and submit your starting weight and weight loss goal through the website (must be visually verified by someone - okay to use skype or similar video chat to do so)</li>
            <li>NOTE: Your total weight will never be disclosed to any of the participants; only weight deltas will be charted so we can see each other’s progress</li>
        </ol>
    </li>
    <li>
        Weigh-ins are weekly, and can be submitted at any time during a week (a week goes from Monday thru following Sunday)
        <ol>
            <li>Similar clothing (or lack thereof) must be worn during each weigh-in (no cheating by wearing winter parka and holding cat during initial weigh-in)</li>
            <li>Weigh-in must be visually verified by a buddy (okay to use skype or similar video chat to do so)</li>
        </ol>
    </li>
    <li>
        Points are accrued during milestone (MS) weeks:
        <ol>
            <li>MS #1: March 9 -15 - if you are ¼ of the way to your weight loss goal, you accrue 5 points</li>
            <li>MS #2: April 6 - 12 - if you are ½ of the way to your goal, you accrue 5 points</li>
            <li>MS #3: May 4-10 - if you are ¾ of the way to your goal, you accrue 5 points</li>
            <li>MS #4 (final): June 1-7 - if you have met your goal, you accrue 10 points</li>
            <li>Total possible points: 25</li>
        </ol>
    </li>
</ol>
</section>